<!-- <div>
  <a href="http://localhost:8085">Login with google</a>
</div> -->
<!-- <mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <mat-nav-list>
      <a mat-list-item style="color:white"><mat-icon class="user">account_circle</mat-icon></a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <span style="font-family: 'Satisfy', cursive;font-size: 2.0em" class="title">Planage</span>
  </mat-sidenav-content>
</mat-sidenav-container> --> 

<router-outlet></router-outlet>
