<div>
  <div class="product">
      <div class="header">
          <div class="mat-headline">My Products</div>
        </div>
        <button mat-fab color="primary" class="floating-button" (click)="showDialogBox()">
      <mat-icon>add</mat-icon>
    </button>
    <div *ngIf="productData !== null; else noBoardFound" class="productCardsList">
      <app-productcards *ngFor="let data of productData" [data]="data"></app-productcards>
    </div>
    <ng-template #noBoardFound>
      <h1>You do not have any existing products yet. Let's create a board for the product!</h1>
    </ng-template>
  </div>
</div>
