h4{
    text-align: center;
    font-family: cursive;
}

.header{
    font-family: cursive;
    font-size:19px;
}
.flex-list{
    display:flex;
    flex-direction:row;
    justify-content: space-evenly;
    width:39%;
    margin-left:30.5%;
    margin-right:30.5%;
    border: 1px white;
    border-left: 3px solid darkblue;
    height: 60px;
    // margin-bottom:10%
}
.card-space{
    padding:1px;
    margin-top:10px;
}

.example-card {
    max-width: 400px;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }
  
  .avatar{
      margin-bottom: 10%;
  }


.task-category{
    font-size:15px;
    margin-top:5px;
}

.flex-avatar{
    display:flex;
    flex-direction:row;
    justify-content: space-between;

}
.name{
    margin-left: 5px;
}

