<meta name="viewport" content="width=device-width, initial-scale=1.0">

<body class="mdc-typography">

    <div class="hero-image">
        <div class="hero-text">
                <p class="welcome">Welcome to Planage</p>
            <img class="logo-homepage" src="https://drive.google.com/uc?id=1uiKhz14fsBIh1wQp7Xp6NCSlZJxJwX3B" alt="">
            <!-- <img class="logo-homepage" src="../../assets/images/logo.png" alt=""> -->
            <h2 class="tag-line">YOU PLAN WE MANAGE</h2>
            <a href="#features"><button id="getstarted">
                    <h2>Let's Plan</h2>
                </button></a>
        </div>
    </div>

        <div class="body">

            <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~MAIN FEATURES~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~`-->
            <section id="features">

                <div>
                    <h2 class="head-discription-1">Features</h2>
                    <mat-divider class="divider"></mat-divider>
                    <p class="h2text">Planage's boards, lists, and planners enable you to organize and prioritize your
                        projects in a fun, flexible, and rewarding way.</p>
                    <mat-divider class="divider"></mat-divider>
                </div>
                <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

                <div id="feature-card-div">

                    <a href="process" class="feature-links">
                        <mat-card class="feature-card">
                            <img class="feature-icon" mat-card-image src="https://drive.google.com/uc?id=1XheNw8uJTUYaFNRTl8ukxG9OHy40GnIw"alt="Scheduling"> 
                            <!-- <img class="feature-icon" mat-card-image src="../../assets/images/planning.jpg"alt="Process"> -->
                            <h3>Process</h3>
                            <mat-card-content>
                                <p class="card-text">Manage the flow of your project plan and maintain the process flow
                                    with easy visual aid.</p>
                            </mat-card-content>
                        </mat-card>
                    </a>


                    <a href="agile" class="feature-links">
                        <mat-card class="feature-card">
                            <img class="feature-icon" src="https://drive.google.com/uc?id=1MpY9zzUSYUpyNH0jFPm-kXGaI9_1DEb8" alt="Agile">
                            <!-- <img class="feature-icon" src="../../assets/images/team.jpg" alt="Agile"> -->
                            
                            <h3>Agile</h3>
                            <mat-card-content>
                                <p class="card-text">Manage Teams and the track the progress of the teams based on the
                                    individual activity and monitor the performance with ease.</p>
                            </mat-card-content>
                        </mat-card>
                    </a>

                    <a href="scrum" class="feature-links">
                        <mat-card class="feature-card">
                            <!-- <img class="feature-icon" mat-card-image src="https://drive.google.com/uc?id=1deFtk9BWQNEUCusrYHmPk7c3k_6AWvyq" alt="Scrum"> -->
                            <img class="feature-icon" mat-card-image src="https://drive.google.com/uc?id=1maR2ZfL4EPjyTmJ_rQnKL6RtrJGvX1Im" alt="scrum">
                            <!-- <img class="feature-icon" mat-card-image src="../../assets/images/scrum.jpg" alt="Sprint"> -->
                            <h3>Sprint</h3>
                            <mat-card-content>
                                <p class="card-text">Get the detailed reports and the projects based on the Deadlines
                                    and the progress tracking. Get realtime progress track to every important thing</p>
                            </mat-card-content>
                        </mat-card>
                    </a>

                    <a href="scheduler" class="feature-links">
                        <mat-card class="feature-card">
                            <img class="feature-icon" mat-card-image src="https://drive.google.com/uc?id=1iOFlQyPCkOk8vtNOGEjgth4JbOisluQV" alt="schedular">
                            <!-- <img class="feature-icon" mat-card-image src="../../assets/images/calendar1.jpg" alt="Process"> -->
                            <h3>Scheduler</h3>
                            <mat-card-content>
                                <p class="card-text">Find the view that works for you. Keep up to date with where
                                    everything stands and plan for the future with an easily digestible overview.</p>
                            </mat-card-content>
                        </mat-card>
                    </a>

                </div>
            </section>

            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

            <!-- <section class="sections"> -->

            <!-- Parallax1 -->
            <section class="product">
                <div class="pimg1">

                </div>

                <!-- <div class="sections"> -->
                <div class="product-div">
                    <div class="giphy" class="giphy">
                        <img class="giphy" src="https://drive.google.com/uc?id=11tqvgchGc6rHIGFgxsochLktCQBFWIah" alt="">
                    </div>
                    <div class="desc-login">
                        <h2>Schedular</h2>
                        <p class="product-desc">Schedular helps you to plan a procedure, usually written in a proposed
                            objective, especially with reference to the sequence of and time allotted for each item or
                            operation necessary to its completion:</p>
                    </div>
                </div>
                <!-- </div> -->
            </section>

            <!-- Paralax2 -->
            <section class="product">
                <div class="pimg2">

                </div>

                <!-- <section class="sections"> -->
                <div class="product-div">
                    <div class="desc-login">
                        <h2>Agile</h2>
                        <p class="product-desc">Agile software development comprises various approaches to software
                            development under which requirements and solutions evolve through the collaborative effort
                            of self-organizing and cross-functional teams and their customer</p>
                    </div>
                    <div class="giphy">
                        <img class="giphy" src="https://drive.google.com/uc?id=16UQ1z8oNCFh_j4itXbxCd0sKPzCH_ZD9" alt="">
                    </div>
                </div>
                <!-- </section> -->
            </section>

            <!-- Paralax3 -->
            <section class="product">
                <div class="pimg3">

                </div>
                <div class="product-div">
                    <div class="giphy">
                        <img class="giphy" src="https://drive.google.com/uc?id=16dhLVuT95SXh0XGMiD2g8yyRTjeS-Xv2" alt="">
                    </div>
                    <div class="desc-login">
                        <h2>Process</h2>
                        <p class="product-desc">Process Managers oversee the process improvement implementation process
                            by working with managers, team members and other employees</p>
                    </div>
                </div>
            </section>

        </div>

        <section>
            <footer class="botbar">
                <div class="foot2">
                    <p><br>Planage India Private Ltd.<br>All rights reserved since 1990</p>
                </div>
                <div><img class="logo-footer" src="https://drive.google.com/uc?id=1uiKhz14fsBIh1wQp7Xp6NCSlZJxJwX3B" alt="Planage"></div>
                <div class="foot3">
                    <a href="planage@gmail.com"><img style="height: 50px" src=""></a>
                    <p>Planage@gmail.com <br></p>

                </div>
            </footer>
        </section>
</body>
