<!-- <div class="user-story">
 <mat-card  [ngStyle]="{
    'background-color' : selected ? 'aliceblue' : 'white'
  }" class="card">
   -->
 <!-- <mat-card class="card wrap">
   <mat-checkbox [(ngModel)]="checked" (click)="toggle()" class="blue" class="animate flip">{{userStoryData.userstoryName}}</mat-checkbox> 
  </mat-card>
</div >  -->


   <mat-card (click)="toggle()" class="card" style="width: 400px;height: 100%;;">
     <mat-checkbox> </mat-checkbox>
     <span style="margin-left: 5px;text-align: justify;">
      <!-- {{userStoryData.userstoryName}} -->

    As a progranm mnajuuj gjygg gfygyug gfygyu fygyug gyuguih guguigi
    </span>
       </mat-card> 


  <!-- <div style="height: auto; width: 400px;">
    hvgkhkhj guguhij guiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiii ugiikjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjj guiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiii 
    gukgkuhihi uhihijpo

  </div> -->