// :host{
//     display: flex;
//     flex-direction: row;//row
//     flex-wrap: wrap;
//     justify-content: flex-start;
//     margin-top: 1%;
//     margin-left:5%;
  
// }
   
.sprint{
align-content: center;
  display:flex;
  flex-direction:row;
  justify-content: center;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  font-size:20px;
  margin-top:2%;
  color:#490f5c;

}

// ::ng-deep .mat-selection-list .mat-line{
//   word-wrap: break-word;
//  white-space: pre-wrap;
// }

.mat-fab.mat-accent, .mat-flat-button.mat-accent, .mat-mini-fab.mat-accent, 
.mat-raised-button.mat-accent{
  background-color:#490f5c;
}
  
.confirm{
  position: fixed;
  bottom:16px;
  right:25px;
  border: 1px;

}