<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <div class="planage">
      <span class="title">Planage</span>
    </div>
    <!-- <mat-toolbar>
      <div class="logoHeader">
        <ngx-avatar name={{userEmail}} class="avatar"></ngx-avatar>
        <p class="user-email">{{userEmail}}</p>
      </div>
    </mat-toolbar> -->
    <div class="profile">
        <ngx-avatar name={{userEmail}} class="ava" size="100"></ngx-avatar>
    </div>
    <div class="email">
        <p class="user-email">{{userEmail}}</p>
    </div>
    <mat-nav-list class="nav-list">
      <hr class="line">
      <a mat-list-item routerLink="/productdashboard">
        <mat-icon style="color:white">home</mat-icon><span style="color: white">My Products</span>
      </a>
      <a mat-list-item routerLink="/assignee">
        <mat-icon style="color:white">dashboard</mat-icon><span style="color: white">My Programs</span>
      </a>
      <a mat-list-item routerLink="/participant">
        <mat-icon style="color:white">assignment_turned_in</mat-icon><span style="color: white">My Tasks</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
      *ngIf="isHandset$ | async">
      <mat-icon aria-label="Side nav toggle icon" class="menu">menu</mat-icon>
    </button>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>